.form-control{

border-radius: 100px;
width: 300px;


}

.supercard{

position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 90vh;

}

.container{

bottom: 50%;

}
.login{

position: relative;

}
.loginlink{

position: absolute;
left:90%;



}

@media screen and (max-width: 1000px) {
    .loginlink {
        position: absolute;
        left:70%;
    }
  }
